---
// Herstellerlogos – schmale Leiste für Autorität
---
<section class="logos-bar">
  <div class="container">
    <div class="logos-track">
      <img src="/img/logo-oertli.png" alt="Oertli Wärmepumpen" class="manufacturer-logo logo-sm" loading="lazy">
      <img src="/img/logo-bosch.png" alt="Bosch Heiztechnik" class="manufacturer-logo" loading="lazy">
      <img src="/img/logo-mitsubishi.png" alt="Mitsubishi Electric Klimaanlagen" class="manufacturer-logo" loading="lazy">
      <img src="/img/logo-panasonic.png" alt="Panasonic Klimatechnik" class="manufacturer-logo logo-md" loading="lazy">
    </div>
  </div>
</section>
